
#caixa_masage1 {
  background-color: burlywood;
  background-image: url(/foto/analise-grafica-day-trade.jpg);
  background-size: cover;
  max-width: 528px;
  min-height: 400px;
  margin-top: 124px;
  margin-left: -4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


}#lista{
  /*border: #F80813 1px solid;*/
  width: 384px;
  height: 345px;
  margin-left: 101px; 
  margin-top: 1px;
  list-style-type: none;
 overflow:auto;
 
}
#arba {
  /*border: solid rgb(73, 238, 18) 1px ;*/
  width: 13px;
  height: 25px;
  border-radius: 0px 30px 30px 0px;
  margin-top: -350px;
  margin-left: 99px;
  background-color: antiquewhite;
  cursor: pointer;
}

#caixa_usuario {
  background-color: rgb(238, 238, 228);
  border: solid 1px;
  height: 398px;
  width: 100px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
 align-content: space-between;

 
}
/*#usuario {
  background-color: rgb(5, 134, 246);
  padding: 5px;
  width: 100px;
   display: flex;
  justify-content: center;
  margin:5px;
 

  margin-left: 120px;
  margin-top: 300px;

  border-radius: 80px 80px 0px 80px;
}*/
.msg {
  width: 170px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#form {
  margin-left:103px;
  width: 425px;
  height: 50px;
  background-color: darkgray;
}
.l_msg {
  margin-top: 50px;
  margin-left: 5px;
  font-size: 20px;
}
#testo1 {
  background-color: rgb(245, 242, 239);
  color: black;
  border-radius: 5px;

  width: 140px;
}

#foto_msg {
  background-color: rgb(137, 10, 187);
  height: 40px;
  width: 40px;
  margin-top: -5px;
  margin-left: 6px;
  border-radius: 30px;

  background-position: center;
  background-size: cover;
  background-image: url("/foto/258763062_576876326734584_4102132421659271278_n\(1\).jpg");
}
#lane {
  width: 50px;
  text-align: center;
  border-radius: 3px;
  margin-top: 3px;
  margin-left: 1px;
  color: rgb(18, 23, 24);
}
.butao_msg {
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}
.butao_delete {
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}
.butao_msg:hover {
  background-color: aqua;
}
.butao_delete:hover {
  background-color: rgb(254, 56, 1);
}
